{% extends 'base.html.twig' %}

{% block title %}Ajouter une session{% endblock %}

{% block body %}

<a class="retour" href="{{ path('showOne_stagiaire', {'id':stagiaire.id}) }}">Retour</a>

<div class="example-wrapper">
    <h1 class="centrer">Ajouter une Session au Stagiaire {{ stagiaire.fullName  }}</h1>

    {% for message in app.flashes('success') %}
    <div class="success">
        {{ message }}
    </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="error">
        {{ message }}
    </div>
    {% endfor %}


    <div class="boiteform">
        <form action="{{ path('ajout_session', {'id':stagiaire.id}) }}" method="post">
            <div>
                <select name="session">
                    {% for sess in sessionsDispo %}
                        <option value="{{ sess.id }}">{{ sess.intitule }}</option>
                        
                    {% endfor %}
                </select>
                <div>
                    <input class="submit" type="submit" value="Ajouter">
                </div>
            </div>
        </form>
    </div>




    {# <div class="boiteform">
        {{ form(ajoutsessionform) }} 
    </div> #}


</div>
{% endblock %}
