{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}


<div class="example-wrapper">
   <h1>Liste des stagiaires</h1>
    <table>
        <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>DateNaissance</th>
            <th>Nombre de sessions inscrits</th>
            <th>infos stagiaires</th>
         
        </thead>

        {% for stagiaire in stagiaires %}

        <tr>
                <td>
                    {{ stagiaire.nom }}
                </td>
                <td>
                    {{ stagiaire.prenom}}
                </td>
                <td>
                    {{ stagiaire.DateNaissance| date('d/m/Y') }}
                </td>
                <td>
                    
                </td>
                 <td>
                    <a href="{{ path('showOne_stagiaire', {'id':stagiaire.id}) }}">Infos</a>
                </td>

                    
        {% endfor %}
    </table>
    
    <a href="{{ path('form_stagiaire') }}">Ajouter un stagiaire</a>
</div>
{% endblock %}
