{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}


<div class="example-wrapper">
   <h1 class="centrer">Liste des stagiaires</h1>
    <table>
        <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>DateNaissance</th>
            <th>Nombre de sessions inscrits</th>
            <th>infos stagiaires</th>
            <th>Actions</th>
         
        </thead>

        {% for stagiaire in stagiaires %}

        <tr>
                <td>
                    {{ stagiaire.nom }}
                </td>
                <td>
                    {{ stagiaire.prenom}}
                </td>
                <td>
                    {{ stagiaire.DateNaissance|date('d/m/Y') }}
                </td>
                <td>
                    {{ stagiaire.inscription|length}}
                </td>
                 <td>
                    <a href="{{ path('showOne_stagiaire', {'id':stagiaire.id}) }}">Infos</a>
                </td>
                <td>
                    <a href="{{ path('remove_one_stagiaire', {'id':stagiaire.id}) }}">Supprimer</a>
                    <a href="{{ path('edit_stagiaire', {'id':stagiaire.id}) }}">Editer</a>
                </td>

                    
        {% endfor %}
    </table>
    <div class="centrer">
    <a  href="{{ path('form_stagiaire') }}" >Ajouter un stagiaire</a>
 
    </div>
</div>
{% endblock %}
