{% extends 'base.html.twig' %}

{% block title %}Hello StagiareController!{% endblock %}

{% block body %}


<div class="example-wrapper">

<a href="{{ path('stagiaire_index') }}">Retour</a>

    <h1>Détails d'un stagiaire</h1>
        {{stagiaire.nom ~ ' ' ~ stagiaire.prenom}}<br>
 <thead>
        <th>Né le: {{stagiaire.dateNaissance | date("d/m/Y")}}</th><br>
        <th>Mail : {{stagiaire.mail}}</th><br>
        <th>Ville : {{stagiaire.ville}}</th><br>
        <th>Téléphone : {{stagiaire.telephone}}</th><br>
        <th>Sexe : {{stagiaire.sexe}}</th><br>
</thead>
<h3> Sessions prévus: </h3>

{% for session in stagiaire.inscription %}
    
{% endfor %}
</div>
{% endblock %}