{% extends 'base.html.twig' %}

{% block title %}Hello StagiareController!{% endblock %}

{% block body %}


<a class="retour" href="{{ path('stagiaire_index') }}">Retour</a>
<div>


    <h1 class="centrer">Détails d'un stagiaire</h1>
   <br>
    <div class="boiteStag">
        <h2>{{stagiaire.nom ~ ' ' ~ stagiaire.prenom}}</h2>
     
        <p><span class="bold">Né le:</span> {{stagiaire.dateNaissance | date("d/m/Y")}}<br>
            <span class="bold">Mail :</span> {{stagiaire.mail}}<br>
            <span class="bold">Ville :</span> {{stagiaire.ville}}<br>
            <span class="bold">Téléphone :</span> {{stagiaire.telephone}}<br>
            <span class="bold">Sexe :</span> {{stagiaire.sexe}}</p><br>
    </div>
<h3 class="centrer"> Sessions prévus </h3>



<div>

    <table>
        <thead>
            <th>Intitulé</th>
            <th>Dates</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for session in stagiaire.sessions %}
            <tr class="centrer">
                <td>{{session.intitule}}</td>
                <td>Du {{session.dateDebut | date("d/m/Y")}} au {{session.datefin | date("d/m/Y")}}</td>
                <td><a href="{{ path('remove_one_session_from_stagiaire', {'id':stagiaire.id, 'id_session':session.id}) }}">&xotime;</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
<br>
<div class="centrer">
    <a class="submit" href="{{ path('ajout_session', {'id':stagiaire.id}) }}">Ajouter une session</a>
</div>



</div>

    

    

</div>
{% endblock %}