{% extends 'base.html.twig' %}

{% block title %}Hello StagiareController!{% endblock %}

{% block body %}


<div>

<a href="{{ path('stagiaire_index') }}">Retour</a>

    <h1>Détails d'un stagiaire</h1>
        
    {{stagiaire.nom ~ ' ' ~ stagiaire.prenom}}<br>
 
        <p>Né le: {{stagiaire.dateNaissance | date("d/m/Y")}}<br>
           Mail : {{stagiaire.mail}}<br>
           Ville : {{stagiaire.ville}}<br>
           Téléphone : {{stagiaire.telephone}}<br>
           Sexe : {{stagiaire.sexe}}</p><br>

<h3> Sessions prévus: </h3>

{% for session in stagiaire.inscription %}

<div>
<ul>
    <li>{{session.intitule}}  (du {{session.dateDebut | date("d/m/Y")}} au {{session.datefin | date("d/m/Y")}}) 
        <a href="{{ path('remove_one_session_from_stagiaire', {'id':stagiaire.id, 'id_session':session.id}) }}">X</a>  </li>
    
    
</ul>

</div>




    

    
{% endfor %}
</div>
{% endblock %}