{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<a href="{{ path('session_index') }}">Retour</a>

<div class="example-wrapper">
    <h1>Détail d'une session</h1>

    

    <h2>{{ session.intitule }}</h2>

    <h3>Modules de la session</h3>
    <table>
        <thead>
            <th>Module</th>
            <th>Nb Jours</th>
            <th>Catégorie</th>
        </thead>
        {% for contenir in session.duree %}
    
        <tbody>
    

            <tr>
                <td class="bold">
                     
                    {{ contenir.module.intitule}}
              
                </td>
                <td>
                    {{ contenir.nbJours}}
                </td>
                <td>
                    {{ contenir.module.categorie.intitule }}
                </td>
            </tr>
        </tbody>
            
    
        
            {# {{ dump(contenir.module.categorie.intitule)}}
            {{ dump(contenir.module.intitule) }}
            {{ dump(contenir.nbJours) }} #}
    
        {% endfor %}
    </table>

    <h3>Personnes inscrites à la session</h3>
    <table>
        <thead>
            <th>Nom Prénom</th>
            <th>E-mail</th>
            <th>Telephone</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for inscrit in session.stagiaires %}
            
            <tr>
                
                <td class="bold"><a href="{{ path('showOne_stagiaire', {'id':inscrit.id}) }}">{{ inscrit.nom }} {{ inscrit.prenom }}</a></td> 
                
                <td>{{ inscrit.mail }}</td>
                <td>{{ inscrit.telephone }}</td>
                
            </tr>    

        {% endfor %}
        </tbody>
    </table>

    <h3>Ajouter un stagiaire à la session</h3>


</div>
{% endblock %}
