{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}

<a class="retour" href="{{ path('session_index') }}">Retour</a>

<div class="example-wrapper centrer">
    <h1>Détail d'une session</h1>

    

    <h2>{{ session.intitule }}</h2>

    <h3>Modules de la session</h3>
    <table>
        <thead>
            <th>Module</th>
            <th>Nb Jours</th>
            <th>Catégorie</th>
            <th>Action</th>
        </thead>
        {% for prog in session.contenir %}
    
        <tbody>
            <tr>
                <td class="bold">
                    {{ prog.module.intitule}}              
                </td>
                <td>
                    {{ prog.nbJours}}
                </td>
                <td>
                    {{ prog.module.categorie.intitule }}
                </td>
                <td><a href="{{ path('remove_one_module_from_session', {'id':session.id, 'id_contenir':prog.module.id}) }}">&xotime;</a></td>
            </tr>
        </tbody>

    
        {% endfor %}


       
    </table>
    <br>
    <a class="submit" href="{{ path('ajout_module', {'id':session.id}) }}">Ajouter un module</a>
    <h3>Personnes inscrites à la session</h3>
    <table>
        <thead>
            <th>Nom Prénom</th>
            <th>E-mail</th>
            <th>Telephone</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for inscrit in session.stagiaires %}
            
            <tr>
                <td class="bold"><a href="{{ path('showOne_stagiaire', {'id':inscrit.id}) }}">{{ inscrit.nom }} {{ inscrit.prenom }}</a></td>                 
                <td>{{ inscrit.mail }}</td>
                <td>{{ inscrit.telephone }}</td>
                <td><a href="{{ path('remove_one_stagiaire_from_session', {'id':session.id, 'id_stagiaire':inscrit.id}) }}">&xotime;</a> </td>
                
            </tr>    

        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if (session.nbPlaces) - (session.stagiaires|length) > 0 %}
    <a class="submit" href="{{ path('ajout_stagiaire', {'id':session.id}) }}">Ajouter un stagiaire à la session</a>
    {% else %}
    <p style="color:red">La session est pleine</p>
    {% endif %}



</div>
{% endblock %}
